#about.exchanges.container
    .exchanges__header Press About Us
    a.exchangesBlock__link.exchangesBlock__link_top(href="#") - See All Press Releases
    .row
        .excangesBlock.col-md-3.col-sm-6
            .excangesBlock__wrap
                img.excangesBlock__img(src="assets/images/press1.png", alt="")
                .excangesBlock__descr.exchangesBlock__descr_about Large and innovative  cryptocurrency exchange            
                a.exchangesBlock__link(href="#") Read more
        .excangesBlock.col-md-3.col-sm-6
            .excangesBlock__wrap
                img.excangesBlock__img(src="assets/images/press2.png", alt="")
                .excangesBlock__descr.exchangesBlock__descr_about Buy Cashbery Coins for EUR/USD/RUR/UAH            
                a.exchangesBlock__link(href="#") Read more
        .excangesBlock.col-md-3.col-sm-6
            .excangesBlock__wrap
                img.excangesBlock__img(src="assets/images/press3.png", alt="")
                .excangesBlock__descr.exchangesBlock__descr_about CBC/Bitcoin and CBC/ETH pairs always to trade                    
                a.exchangesBlock__link(href="#") Read more
        .excangesBlock.col-md-3.col-sm-6
            .excangesBlock__wrap
                img.excangesBlock__img(src="assets/images/press4.png", alt="")
                .excangesBlock__descr.exchangesBlock__descr_about Buy Cashbery Coins directly and instantly using AUD
                a.exchangesBlock__link(href="#") Read more
