.advantages
    .container
        .row
            .col-md-4.col-sm-4.col-xs-12.advantagesBlock
                .advantagesBlockLine
                    .advantagesBlockLine__line.advantagesBlockLine__line_first
                .advantagesBlock__title For Individuals
                .advantagesBlock__header Protection of Privacy
                .advantagesBlock__descr Quick start with one of the most easy-to-use wallets to be a part of the Bytecoin ecosystem.
                button.advantagesBlock__button Learn to Start
            .col-md-4.col-sm-4.col-xs-12.advantagesBlock
                .advantagesBlockLine
                    .advantagesBlockLine__line.advantagesBlockLine__line_second
                    .advantagesBlockLine__line.advantagesBlockLine__line_second
                .advantagesBlock__title For Business
                .advantagesBlock__header Minimized Risks
                .advantagesBlock__descr Your path to start the safest business cooperation with an enterprise-ready solution based on blockchain.
                button.advantagesBlock__button Learn to Start
            .col-md-4.col-sm-4.col-xs-12.advantagesBlock
                .advantagesBlockLine
                    .advantagesBlockLine__line.advantagesBlockLine__line_third
                    .advantagesBlockLine__line.advantagesBlockLine__line_third
                    .advantagesBlockLine__line.advantagesBlockLine__line_third
                .advantagesBlock__title For Investors
                .advantagesBlock__header Maximum Growth
                .advantagesBlock__descr We’ve got the special solutions for those who’d like to store their funds in a private and secure way.
                button.advantagesBlock__button Learn to Start    