#community.community
    .container.communityWrap
            .community__title Community
            .communitySocial
                a.communitySocial__ico.communitySocial__ico_facebook(href='http://facebook.com')
                a.communitySocial__ico.communitySocial__ico_twitter(href='http://twitter.com')
                a.communitySocial__ico.communitySocial__ico_linkedin(href='http://linkedin.com')
                a.communitySocial__ico.communitySocial__ico_instagram(href='http://instagram.com')                                
                a.communitySocial__ico.communitySocial__ico_telegram(href='http://telegram.com')
                a.communitySocial__ico.communitySocial__ico_vimeo(href='http://vimeo.com')
                a.communitySocial__ico.communitySocial__ico_pinterest(href='http://pinterest.com')
            .communityFeed
                a.communityFeed__link.communityFeed__link_feedback(href='http://facebook.com') Feedback
                    img.communityFeed_img(src="assets/images/mail.png", alt="")
                a.communityFeed__link.communityFeed__link_callUS(href='http://facebook.com') Call Us
                    img.communityFeed_img(src="assets/images/call.png", alt="")
