.exchanges.container
    .exchanges__header Exchanges
    .exchanges__descr Cryptocurrency exchange is a service to buy and sell Cashbery Coins for Bitcoins(BTC) and fiat currency. The exchange rate fluctuates in real-time based on the demand and supply of other users.
    .row
        .excangesBlock.col-md-3
            .excangesBlock__wrap
                img.excangesBlock__img(src="assets/images/hitbtc.png", alt="")
                .excangesBlock__title HitBTC
                .excangesBlock__descr Large and innovative  cryptocurrency exchange            
        .excangesBlock.col-md-3
            .excangesBlock__wrap
                img.excangesBlock__img(src="assets/images/crypto.png", alt="")
                .excangesBlock__title Cryptonator
                .excangesBlock__descr Buy Cashbery Coins for EUR/USD/RUR/UAH            
        .excangesBlock.col-md-3
            .excangesBlock__wrap
                img.excangesBlock__img(src="assets/images/stock.png", alt="")
                .excangesBlock__title Stocks.exchange
                .excangesBlock__descr CBC/Bitcoin and CBC/ETH pairs always to trade                    
        .excangesBlock.col-md-3
            .excangesBlock__wrap
                img.excangesBlock__img(src="assets/images/coinspot.png", alt="")
                .excangesBlock__title Coinspot
                .excangesBlock__descr Buy Cashbery Coins directly and instantly using AUD       