footer.site__footer.footer
	.container
		.footer__wrap
			.footerRights 2018 © Cashbery Coin All rights reserved
			.footerCommunity
				.footer__title Community
				ul
					li
						a.footerCommunity__link(href="#")
							span
								img(src="assets/images/facebook.png")
							|Facebook	 
					li
						a.footerCommunity__link(href="#")
							span
								img(src="assets/images/twitter.png")
							|Twitter
					li
						a.footerCommunity__link(href="#")
							span
								img(src="assets/images/linkedin.png")
							|Linkedin
					li 
						a.footerCommunity__link(href="#")
							span
								img(src="assets/images/instagram.png")
							|Instagram	
					li
						a.footerCommunity__link(href="#")
							span
								img(src="assets/images/telegram.png")
							|Telegram
					li
						a.footerCommunity__link(href="#")
							span
								img(src="assets/images/vimeo.png")
							|Vimeo
					li
						a.footerCommunity__link(href="#")
							span
								img(src="assets/images/pinterest.png")
							|Pinterest
			.footerAbout
				.footer__title About
				ul
					li
						a.footerAbout__link(href="#video")
							|How does it work
					li
						a.footerAbout__link(href="#wallet")
							|Wallets
					li
						a.footerAbout__link(href="#exchanges")
							|Exchanges
					li
						a.footerAbout__link(href="#community")
							|Community	
					li
						a.footerAbout__link(href="#about")
							|Press
			.footerSibscribe
				.footer__title Sibscribe
				ul
					li How does it work
				form.footerForm
					.footerForm__input
						input(type="email" placeholder="Enter Your Email")
					button.footerForm__button SUBSCRIBE

