header.site__header.header
	a.header__logo(href='index.html')
		img.header__img.header__img_logo(src="assets/images/logo.png")
		.header__pan
			span Cashbery &nbsp;
			span  Coin
	ul.header__menu.topnav
		li.header__menuItem 
			a(href='#video')
				|How does it work
		li.header__menuItem 
			a(href='#wallet')
				|Wallets
		li.header__menuItem 
			a(href='#exchanges')
				|Exchanges
		li.header__menuItem 
			a(href='#community')
				|Community
		li.header__menuItem 
			a(href='#about')
				|Press
	div.header__lang
		img.header__img.header__img_flag(src="assets/images/lang.png")
	div.mobileBtn
		span


