div.heroBlock
    .container
        .heroBlock__img
            img.img-responsive(src="assets/images/hero.png")
        div.heroBlock__content
            h1.heroBlock__content__header New Way of Transfering</br> Cash All Over the World
            div.heroBlock__content__descr Fast. Chip. Reliable.
            div.heroBlock__content__button
                button.heroBlock__content__button.heroBlock__content__button_buy Buy Cashbery Coins
                button.heroBlock__content__button.heroBlock__content__button_get Get Wallet
            .heroBlockItems
                .heroBlockItems__item
                    .heroBlockItems__item_top $680.600.300
                    .heroBlockItems__item_bottom Market Capitalization
                .heroBlockItems__item
                    .heroBlockItems__item_top 23 900
                    .heroBlockItems__item_bottom Loyal Users
                .heroBlockItems__item
                    .heroBlockItems__item_top $2.800.300
                    .heroBlockItems__item_bottom Market Capitalization              
                    


