.advantages
    padding 120px 0
    background-color #121c31
    @media (max-width $sm)
        padding 0
        padding-bottom 60px
    &Block
        padding 0 20px
        @media (max-width $sm)
            padding 60px 15% 0 
            display flex
            flex-direction column
            align-items center
            justify-content center 
        &Line
            display flex
            &__line
                height 4px
                width 48px
                margin-right 10px
                &_first
                    background-color #28b9c0
                &_second
                    background-color #4678bf
                &_third
                    background-color #623cbf
        &__title
            color #ffffff
            font-family "Proxima Nova"
            font-size 35px
            font-weight 700
            padding 50px 0 29px 0
            @media (max-width $sm)
                font-size 25px
        &__header
            color #28b8c0
            font-family "Proxima Nova"
            font-size 25px
            font-weight 400
            @media (max-width $sm)
                font-size 25px                
        &__descr
            color #ffffff
            font-size 18px
            font-weight 400
            padding 24px 0 34px 0
            @media (max-width $sm)
                font-size 14px    
                text-align center        
        &__button
            color #ffffff
            font-size 18px
            font-weight 700
            padding 15px 32px
            border none
            border-radius 5px
            background-image linear-gradient(to right, #27bbc0 0%, #623abf 100%) 
            @media (max-width $sm)
                font-size 14px                  

