.exchanges
    flex-direction column
    justify-content center
    align-items center
    margin 50px auto
    &__header
        color #222222
        font-family "Proxima Nova"
        font-size 50px
        font-weight 700
    &__descr
        font-size 20px
        font-weight 400
        margin 35px 0 50px  
.excangesBlock
    padding 0 10px
    &__wrap
        padding 20px
        display flex
        flex-direction column
        justify-content center
        align-items center
        border 1px solid #e9e9e9
        @media (max-width $md)
            margin 20px 40px 20px 40px
            padding 40px
        @media (max-width $sm)
            margin 0 20px    
    &__img
        height 65px
        width auto
    &__title
        font-size 18px
        font-weight 700
        margin-top 26px
    &__descr
        text-align center
        font-size 14px
        font-weight 400   
        margin-top 22px     
              