.heroBlock
    background url('../images/bcg_hero.jpg')
    background-size cover
    display flex
    @media (max-width: $sm)
        flex-direction column
    &__img
        order 2
        display flex
        align-self center
        align-items flex-start
        @media(max-width: $sm)
            // display block
            margin 50px 0 
    &__content
        display flex
        align-items center
        flex-direction column
        justify-content center
        order 1
        flex-basis 60%
        align-items flex-start
        @media (max-width: $sm)
            order 2
        &__header
            color: #ffffff
            font-family "Proxima Nova"
            font-size 39px
            font-weight 700
            text-align center
        &__descr
            color #ffffff
            font-family "Proxima Nova"
            font-size 35px
            font-weight 300
            line-height 55px
            margin 40px 0
            @media (max-width: $lg)
                font-size 25px
                align-self center
            @media (max-width: $sm)
                margin 20px 0    
        &__button
            display flex
            color #ffffff
            font-family "Open Sans"
            font-size 25px
            font-weight 400
            line-height 55px
            flex-wrap wrap
            border none
            @media (max-width: $sm)
                max-width 216px
                flex-basis 100%
                align-self center
                font-size 18px
                text-align center
                margin auto
                margin-top 7px
                justify-content center 
                
            &_buy
                border-radius 5px
                background-color #425a8f
                background-image linear-gradient(to right, #27bbc0 0%, #623abf 100%)
                padding 0 15px        
            &_get
                border-radius 5px
                background-color #425a8f
                background-image linear-gradient(to right, #f69023 0%, #bf3aae 100%)
                padding 0 15px
                @media (min-width: $sm)
                    margin-left 23px
    &Items
        margin-top 35px
        display flex
        @media (max-width: $sm)
            flex-direction column
            align-self center
        &__item
            display flex
            flex-direction column
            padding 20px
            align-self center
            align-items center
            @media (max-width: $sm)
                padding 10px
            &_top
                color #27bbc0
                font-size 25px
                font-weight 700
                @media (max-width: $sm)
                    font-size 18px
            &_bottom
                color #ffffff
                font-size 18px
                font-weight 400
                @media (max-width: $sm)
                    font-size 14px          
    .container
        align-items center
        margin 220px auto
        @media (max-width: $sm)
            flex-direction column
            margin 30px 15px