.wallet
    background-image url('../images/bg2.jpg')
    background-size cover
    padding 60px 0
    &Buttons 
        display flex
        &__link
            font-family "Proxima Nova"
            font-size 25px
            font-weight 400
            color #222222
            margin-right 20px
            &_active
                border-bottom 2px solid #613ebf
                color #613ebf

    &Block
        &_none
            display none 
        &__title
            color #222222
            font-family "Proxima Nova"
            font-size 54px
            font-weight 700 
            padding 54px 0 29px
        &__descr
            color #222222
            padding-bottom 29px
        &__img
            display flex
            justify-content center
            align-items center
            &_desktop, &_mobile
                margin auto
                display flex 
        &App
            display flex
            &__icon
                margin-right 20px                 