body {
  font-family: Proxima Nova;
  font-weight: normal;
}
a {
  color: #181818;
  cursor: pointer;
}
a:focus,
a:hover {
  text-decoration: none;
}
.container {
  display: -ms-flexbox;
  display: flex;
}
ul {
  list-style-type: none;
  padding-left: 0;
}
.exchangesBlock__descr_about {
  font-weight: 700 !important;
}
.exchangesBlock__link {
  color: #516bab;
  font-weight: 700;
}
.exchangesBlock__link_top {
  -ms-flex-item-align: end;
      align-self: flex-end;
}
.advantages {
  padding: 120px 0;
  background-color: #121c31;
}
@media (max-width: 768px) {
  .advantages {
    padding: 0;
    padding-bottom: 60px;
  }
}
.advantagesBlock {
  padding: 0 20px;
}
@media (max-width: 768px) {
  .advantagesBlock {
    padding: 60px 15% 0;
    display: -ms-flexbox;
    display: flex;
    -ms-flex-direction: column;
        flex-direction: column;
    -ms-flex-align: center;
        align-items: center;
    -ms-flex-pack: center;
        justify-content: center;
  }
}
.advantagesBlockLine {
  display: -ms-flexbox;
  display: flex;
}
.advantagesBlockLine__line {
  height: 4px;
  width: 48px;
  margin-right: 10px;
}
.advantagesBlockLine__line_first {
  background-color: #28b9c0;
}
.advantagesBlockLine__line_second {
  background-color: #4678bf;
}
.advantagesBlockLine__line_third {
  background-color: #623cbf;
}
.advantagesBlock__title {
  color: #fff;
  font-family: "Proxima Nova";
  font-size: 35px;
  font-weight: 700;
  padding: 50px 0 29px 0;
}
.advantagesBlock__header {
  color: #28b8c0;
  font-family: "Proxima Nova";
  font-size: 25px;
  font-weight: 400;
}
.advantagesBlock__descr {
  color: #fff;
  font-size: 18px;
  font-weight: 400;
  padding: 24px 0 34px 0;
}
.advantagesBlock__button {
  color: #fff;
  font-size: 18px;
  font-weight: 700;
  padding: 15px 32px;
  border: none;
  border-radius: 5px;
  background-image: linear-gradient(to right, #27bbc0 0%, #623abf 100%);
}
.community {
  display: -ms-flexbox;
  display: flex;
  background-color: #222a3f;
  padding: 55px 0;
}
.communityWrap {
  -ms-flex-pack: justify;
      justify-content: space-between;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
}
.community__title {
  display: -ms-flexbox;
  display: flex;
  font-family: "Proxima Nova";
  font-size: 35px;
  font-weight: 700;
  color: #fff;
}
@media (max-width: 768px) {
  .community__title {
    -ms-flex-preferred-size: 100%;
        flex-basis: 100%;
    -ms-flex-pack: center;
        justify-content: center;
  }
}
.communitySocial {
  display: -ms-flexbox;
  display: flex;
}
@media (max-width: 768px) {
  .communitySocial {
    -ms-flex-preferred-size: 100%;
        flex-basis: 100%;
    -ms-flex-pack: center;
        justify-content: center;
    -ms-flex-wrap: wrap;
        flex-wrap: wrap;
  }
}
.communitySocial__ico {
  margin: 0 5px;
  width: 48px;
  height: 48px;
}
.communitySocial__ico_facebook {
  background-image: url("../images/sprite.png");
}
.communitySocial__ico_twitter {
  background-image: url("../images/sprite.png");
  background-position: 48px 0px;
}
.communitySocial__ico_linkedin {
  background-image: url("../images/sprite.png");
  background-position: -115px 0px;
}
.communitySocial__ico_instagram {
  background-image: url("../images/sprite.png");
  background-position: -172px 0px;
}
.communitySocial__ico_telegram {
  background-image: url("../images/sprite.png");
  background-position: -229px 0px;
}
.communitySocial__ico_vimeo {
  background-image: url("../images/sprite.png");
  background-position: -286px 0px;
}
.communitySocial__ico_pinterest {
  background-image: url("../images/sprite.png");
  background-position: -343px 0px;
}
.communityFeed {
  display: -ms-flexbox;
  display: flex;
}
@media (max-width: 768px) {
  .communityFeed {
    -ms-flex-preferred-size: 100%;
        flex-basis: 100%;
    -ms-flex-align: center;
        align-items: center;
    -ms-flex-pack: center;
        justify-content: center;
  }
}
.communityFeed__link {
  color: #fff;
  font-family: "Proxima Nova";
  font-size: 25px;
  font-weight: 400;
}
.communityFeed_img {
  margin: 0 15px;
}
.exchanges {
  -ms-flex-direction: column;
      flex-direction: column;
  -ms-flex-pack: center;
      justify-content: center;
  -ms-flex-align: center;
      align-items: center;
  margin: 100px auto;
}
.exchanges__header {
  color: #222;
  font-family: "Proxima Nova";
  font-size: 50px;
  font-weight: 700;
}
.exchanges__descr {
  font-size: 20px;
  font-weight: 400;
  margin: 35px 0 50px;
}
.excangesBlock {
  padding: 0 10px;
}
.excangesBlock__wrap {
  padding: 20px;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-direction: column;
      flex-direction: column;
  -ms-flex-pack: center;
      justify-content: center;
  -ms-flex-align: center;
      align-items: center;
  border: 1px solid #e9e9e9;
}
.excangesBlock__img {
  height: 65px;
  width: auto;
}
.excangesBlock__title {
  font-size: 18px;
  font-weight: 700;
  margin-top: 26px;
}
.excangesBlock__descr {
  text-align: center;
  font-size: 14px;
  font-weight: 400;
  margin-top: 22px;
}
@font-face {
  font-family: 'Proxima Nova';
  font-style: 300;
  src: url("../fonts/Proxima Nova/Proxima Nova Light.otf");
}
@font-face {
  font-family: 'Proxima Nova';
  font-style: 100;
  src: url("../fonts/Proxima Nova/Proxima Nova Thin.otf");
}
@font-face {
  font-family: 'Proxima Nova';
  font-style: normal;
  src: url("../fonts/Proxima Nova/Proxima Nova Regular.otf");
}
@font-face {
  font-family: 'Open Sans';
  font-style: bold;
  src: url("../fonts/Open Sans/OpenSans-Bold.otf");
}
@font-face {
  font-family: 'Open Sans';
  font-style: thin;
  src: url("../fonts/Open Sans/OpenSans-Italic.otf");
}
@font-face {
  font-family: 'Open Sans';
  font-style: 300;
  src: url("../fonts/Open Sans/OpenSans-Light.otf");
}
@font-face {
  font-family: 'Open Sans';
  font-style: normal;
  src: url("../fonts/Open Sans/OpenSans-Regular.otf");
}
.header {
  padding: 0 30px;
  height: 100px;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-pack: justify;
      justify-content: space-between;
  font-family: "Proxima Nova";
  font-size: 25px;
  color: #181818;
}
@media (min-width: 768px) {
  .header span {
    display: block;
  }
}
.header__menu {
  margin-bottom: 0;
  display: -ms-flexbox;
  display: flex;
  list-style-type: none;
  -ms-flex-order: 1;
      order: 1;
}
.header__menuItem {
  background-color: #fff;
  display: -ms-flexbox;
  display: flex;
  padding: 0 24px;
  -ms-flex-align: center;
      align-items: center;
}
.header__menuItem a {
  color: #000 !important;
}
.header__img {
  margin: 20px;
  display: -ms-flexbox;
  display: flex;
  width: 58px;
  height: 58px;
}
.header__img_flag {
  width: 31px;
  height: 31px;
}
.header__logo {
  -ms-flex-order: 1;
      order: 1;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-align: center;
      align-items: center;
}
.header__span {
  -ms-flex-direction: column;
      flex-direction: column;
}
.header__lang {
  -ms-flex-order: 1;
      order: 1;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-item-align: center;
      align-self: center;
}
.header__lang:before {
  content: '';
  background: url("../images/lang_before.png");
  position: absolute;
  width: 1px;
  height: 31px;
  margin-left: -35px;
  margin-top: 22px;
}
.mobileBtn {
  display: -ms-flexbox;
  display: flex;
  -ms-flex-item-align: center;
      align-self: center;
  -ms-flex-order: 0;
      order: 0;
  position: relative;
  z-index: 10002;
  width: 30px;
  height: 35px;
  cursor: pointer;
  margin: 30px;
}
@media (min-width: 768px) {
  .mobileBtn {
    display: none;
  }
}
.mobileBtn span {
  display: block;
  position: absolute;
  top: 16px;
  left: 0;
  height: 2px;
  width: 100%;
  background: #000;
  transition: all 0.3s;
}
.mobileBtn span:before,
.mobileBtn span:after {
  position: absolute;
  display: block;
  left: 0;
  width: 100%;
  height: 2px;
  background-color: #000;
  content: "";
  transition: all 0.3s;
}
.mobileBtn span:before {
  top: -8px;
}
.mobileBtn span:after {
  bottom: -8px;
}
.mobileBtnhover span:before {
  top: -9px;
}
.mobileBtnhover span:after {
  bottom: -9px;
}
.mobileBtn.active span {
  background: transparent;
}
.mobileBtn.active span:before {
  top: 0;
  transform: rotate(45deg);
}
.mobileBtn.active span:after {
  bottom: 0;
  transform: rotate(-45deg);
}
@media (max-width: 768px) {
  .header {
    height: 58px;
    font-size: 18px;
  }
  .header__img_logo {
    width: 31px;
    height: 31px;
  }
  .header__img_flag {
    width: 24px;
    height: 24px;
    -ms-flex-item-align: center;
        -ms-grid-row-align: center;
        align-self: center;
    margin: 0 20px;
  }
  .header__logo {
    -ms-flex-preferred-size: 70%;
        flex-basis: 70%;
  }
  .header__lang:before {
    content: none;
  }
  .header__menu {
    -ms-flex-direction: column;
        flex-direction: column;
    position: fixed;
    z-index: 10000;
    width: 100%;
    height: 100vh;
    margin: 0;
    transition: right 0.8s;
    top: 0;
    padding-top: 58px;
    text-align: center;
    -ms-flex-align: start;
        align-items: flex-start;
    -ms-flex-wrap: wrap;
        flex-wrap: wrap;
  }
  .header__menuItem {
    margin: 10px 20px;
    padding: 0 20px;
    width: 80%;
    border-top: 1px solid #000;
  }
  .header__menu.topnav {
    display: none;
  }
  .header__menu.active {
    display: -ms-flexbox;
    display: flex;
    -ms-flex-direction: column;
        flex-direction: column;
    width: 320px;
    margin-top: 58px;
    padding-left: 0;
    background-color: #fff;
  }
}
.heroBlock {
  background: url("../images/bcg_hero.jpg");
  background-size: cover;
  display: -ms-flexbox;
  display: flex;
}
@media (max-width: 768px) {
  .heroBlock {
    -ms-flex-direction: column;
        flex-direction: column;
  }
}
.heroBlock__img {
  -ms-flex-order: 2;
      order: 2;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-item-align: center;
      align-self: center;
}
.heroBlock__content {
  display: -ms-flexbox;
  display: flex;
  -ms-flex-align: center;
      align-items: center;
  -ms-flex-direction: column;
      flex-direction: column;
  -ms-flex-pack: center;
      justify-content: center;
  -ms-flex-order: 1;
      order: 1;
  -ms-flex-preferred-size: 60%;
      flex-basis: 60%;
  -ms-flex-align: start;
      align-items: flex-start;
}
@media (max-width: 768px) {
  .heroBlock__content {
    -ms-flex-order: 2;
        order: 2;
  }
}
.heroBlock__content__header {
  color: #fff;
  font-family: "Proxima Nova";
  font-size: 39px;
  font-weight: 700;
  text-align: center;
}
.heroBlock__content__descr {
  color: #fff;
  font-family: "Proxima Nova";
  font-size: 35px;
  font-weight: 300;
  line-height: 55px;
  margin: 40px 0;
}
.heroBlock__content__button {
  display: -ms-flexbox;
  display: flex;
  color: #fff;
  font-family: "Proxima Nova";
  font-size: 25px;
  font-weight: 400;
  line-height: 55px;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  border: none;
}
.heroBlock__content__button_buy {
  border-radius: 5px;
  background-color: #425a8f;
  background-image: linear-gradient(to right, #27bbc0 0%, #623abf 100%);
  padding: 0 15px;
}
.heroBlock__content__button_get {
  border-radius: 5px;
  background-color: #425a8f;
  background-image: linear-gradient(to right, #f69023 0%, #bf3aae 100%);
  padding: 0 15px;
}
@media (min-width: 768px) {
  .heroBlock__content__button_get {
    margin-left: 23px;
  }
}
.heroBlockItems {
  margin-top: 35px;
  display: -ms-flexbox;
  display: flex;
}
@media (max-width: 768px) {
  .heroBlockItems {
    -ms-flex-direction: column;
        flex-direction: column;
  }
}
.heroBlockItems__item {
  display: -ms-flexbox;
  display: flex;
  -ms-flex-direction: column;
      flex-direction: column;
  padding: 20px;
}
.heroBlockItems__item_top {
  color: #27bbc0;
  font-size: 25px;
  font-weight: 700;
}
.heroBlockItems__item_bottom {
  color: #fff;
  font-size: 18px;
  font-weight: 400;
}
.heroBlock .container {
  -ms-flex-align: center;
      align-items: center;
  margin: 220px auto;
}
@media (max-width: 768px) {
  .heroBlock .container {
    -ms-flex-direction: column;
        flex-direction: column;
    margin: 60px;
  }
}
.highchart {
  padding: 50px 0;
  box-shadow: inset 0 0 65px rgba(0,0,0,0.08);
}
.video {
  background: url("../images/bg_video.jpg");
  padding: 80px 0;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-pack: center;
      justify-content: center;
}
.video__content {
  padding-bottom: 30%;
  position: relative;
}
@media (max-width: 768px) {
  .video__content {
    padding-bottom: 0;
  }
}
.video iframe {
  position: absolute;
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
}
@media (max-width: 768px) {
  .video iframe {
    position: relative;
  }
}
.wallet {
  background-image: url("../images/bg2.jpg");
  background-size: cover;
  padding: 60px 0;
}
.walletButtons {
  display: -ms-flexbox;
  display: flex;
}
.walletButtons__link {
  font-family: "Proxima Nova";
  font-size: 25px;
  font-weight: 400;
  color: #222;
  margin-right: 20px;
}
.walletButtons__link_active {
  border-bottom: 2px solid #613ebf;
  color: #613ebf;
}
.walletBlock_none {
  display: none;
}
.walletBlock__title {
  color: #222;
  font-family: "Proxima Nova";
  font-size: 54px;
  font-weight: 700;
  padding: 54px 0 29px;
}
.walletBlock__descr {
  color: #222;
  padding-bottom: 29px;
}
.walletBlock__img {
  display: -ms-flexbox;
  display: flex;
  -ms-flex-pack: center;
      justify-content: center;
  -ms-flex-align: center;
      align-items: center;
}
.walletBlock__img_desktop,
.walletBlock__img_mobile {
  margin: auto;
  display: -ms-flexbox;
  display: flex;
}
.walletBlockApp {
  display: -ms-flexbox;
  display: flex;
}
.walletBlockApp__icon {
  margin-right: 20px;
}
.footer {
  padding: 100px 0;
  background-color: #f5f5f5;
}
.footer .container {
  display: block;
}
.footer__title {
  font-family: "Proxima Nova";
  font-size: 25px;
  font-weight: 400;
}
.footerRights {
  font-size: 13px;
  font-weight: 400;
}
.footerCommunity li {
  padding-top: 10px;
}
.footerCommunity img {
  margin: 0 5px;
}
.footerCommunity__link {
  font-size: 14px;
  font-weight: 400;
}
.footerAbout li,
.footerSibscribe li {
  padding-top: 10px;
}
.footerForm__input:before {
  content: '';
  position: absolute;
  background: url("../images/mail_ico.png");
  width: 18px;
  height: 13px;
  margin-top: 16px;
  margin-left: 220px;
}
.footerForm__input input {
  width: 262px;
  height: 45px;
  border: none;
}
.footerForm__input input[placeholder] {
  padding-left: 10px;
  font-size: 13px;
}
.footerForm__button {
  margin-top: 25px;
  background-image: linear-gradient(to right, #27bbc0 0%, #623abf 100%);
  font-size: 14px;
  font-weight: 700;
  line-height: 25px;
  color: #fff;
  border: none;
  padding: 10px 45px 10px 25px;
  border-radius: 3px;
}
.footerForm__button:after {
  content: '';
  position: absolute;
  background: url("../images/rect_ico.png");
  width: 6px;
  height: 10px;
  margin-top: 7px;
  margin-left: 15px;
}
